* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgba(116, 0, 0, 1);
    background-color: #1c1e21; /* Dark background for maturity */
    width: 100%;
}

.container1 {
    margin: 0 auto;
    display: flex;
}

.header-flex{
    display: flex;
    justify-content: center;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color:rgb(255, 255, 255);
    color: #fff;
    position: relative;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu ul li {
    margin-left: 50px;
    margin-top: 10px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.logo{
    margin-right: 20rem;
    padding: 0.6rem;
}

.logo a{
    text-decoration: none;
    margin-top: 1rem;
    color:  #f0a500;
    font-weight: bold;
    text-decoration: underline;
}

.signup-btn {
    padding: 10px 25px;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
}

.signup-btn:hover {
    background-color: #1485c7;
}

/* Hamburger Button */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.hamburger span {
    background-color: rgba(116, 0, 0, 1); 
    height: 3px;
    border-radius: 2px;
    transition: all 0.3s;
}

/* Mobile Menu */
.mobile-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #1c1e21;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.mobile-menu ul li {
    margin-bottom: 20px;
}

.mobile-menu ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}

/* Active state to show mobile menu */
.mobile-menu.active {
    transform: translateX(0);
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .signup-btn {
        display: none;
    }

    .container1 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .logo{
        margin-right: rem;
        padding: 0.6rem;
        width: 100%;
    } 

    .navbar{
        width: 100%;
    } 
}



/* .hero-section {
    background: url('https://template.discretedev.com/html/tradepro/assets/img/banner/hero/1.png') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 30px;
    
    
}

.hero-section .hero-content{
   
}

.hero-section h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: "Protest Guerrilla", sans-serif;
    margin-top: -5rem;
    color: #f0bf56;
}

/* .hero-section p {
    font-size: 18px;
    margin-top: 10px;
}

.hero-btn {
    background-color:#f0bf56;
    color: #fff;
    padding: 20px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-btn:hover {
    background-color: #f0bf56d0;
} */ 

.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Full-screen video styling */
.hero-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
    filter: blur(3px);
}

.hero-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-family: "Protest Guerrilla", sans-serif;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.hero-content a{
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: rgba(116, 0, 0, 1);
    color: white;
   border-style: solid;
   border-width: 2px;
   border-color: rgba(116, 0, 0, 1);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-content button:hover {
    background-color: rgba(29, 161, 242, 0.8);
}


.market-ticker {
    background-color: #ffffff;
    padding: 10px 0;
    color: rgba(116, 0, 0, 1);
    font-size: 14px;
}

.ticker-text {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .signup-btn {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 20px;
    }

    .nav-menu li a {
        font-size: 14px;
    }

    .signup-btn {
        padding: 10px 15px;
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .hero-section{
        height: 75vh;
    }

    .hero-section h1 {
        font-size: 26px;
        text-align: center;
    }

    .hero-section p {
        font-size: 16px;
        text-align: center;
        width: 100%;
        font-weight: bold;
    }

    .hero-section a{
        text-decoration: none;
        padding: 10px 20px ;
    }

    .hero-btn {
        padding: 20px 30px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .hero-section h1 {
        font-size: 28px;
    }

    .hero-section p {
        font-size: 12px;
        text-align: center;
    }

    .hero-btn {
        padding: 8px 15px;
        font-size: 12px;
    }
}


@media (max-width: 768px) {
    .investor-grid {
        flex-direction: column;
        align-items: center;
    }

    .investor {
        width: 80%;
        margin: 20px 0;
    }
}

@media (max-width: 480px) {
    .investor img {
        width: 100px;
        height: 100px;
    }

    .investor h3 {
        font-size: 18px;
    }

    .investor p {
        font-size: 14px;
    }
}

.element{
    width: 100%;
    background-color:  rgba(116, 0, 0, 1);
    height: 0.5rem;
    transform: skew(60deg);
   
}

.about-us {
    padding: 80px 20px;
    background-color: #f4f4f9;
    
}

.about-us .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.about-content {
    flex: 1;
    padding-right: 30px;
    animation: fadeInLeft 1.5s ease-in-out;
}

.about-content h2 {
    font-size: 1.6rem;
    color:rgba(116, 0, 0, 1);
    margin-bottom: 20px;
}

.about-content p {
    font-size: 12px;
    color: #444;
    line-height: 1.6;
    max-width: 300px;
}

.about-images {
    display: flex;
    justify-content: center;
    flex: 1;
}

.about-images h2{
    color: rgba(116, 0, 0, 1);
    margin-bottom: 20px;
}



.image-container {
    margin: 0 15px;
    overflow: hidden;
    animation: fadeInRight 1.5s ease-in-out;
}

.image-container button{
    background-color:rgba(116, 0, 0, 1);
    color: #fff;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-style: none;
    margin-bottom: 1rem;
}

.image-container button:hover {
    background-color: rgba(116, 0, 0, 0.863);
}


.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

/* Animations */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .about-us {
        background: url('https://img.freepik.com/free-photo/gray-futuristic-wireframe-abstract-background_53876-104038.jpg?uid=R55814283&ga=GA1.1.1328920485.1725346503&semt=ais_hybrid') no-repeat center center/cover;
    }

    .about-us .container {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        padding: 0;
        background-color: rgba(255, 255, 255, 0.212);
        border-radius: 10px;
        padding: 10px 10px;
        box-shadow: 1px 1px 5px rgba(36, 36, 36, 0.103);
    }

    .about-content p{
        font-size: 13px;
        text-align: center;
        padding: 10px;
    }

    .about-images {
        flex-direction: column;
        font-size: 13px;
        color: black;
    }

    .about-images p{
        color: black;
    }

    .image-container {
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.212);
        margin-top: 1rem;
        box-shadow: 1px 1px 5px rgba(36, 36, 36, 0.103);
        padding: 10px 20px;
    }
}


button{
    background-color: rgba(116, 0, 0, 1);
    color: #fff;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-style: none;
    margin-bottom: 1rem;
}

button:hover {
    background-color: rgba(116, 0, 0, 0.815);
}


.investors-section {
    padding: 60px 20px;
    background-color: #1c1e21;
    color: #fff;
    text-align: center;
}

.investors-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.investor-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.investor {
    margin: 20px;
    width: 250px;
    text-align: center;
}

.investor img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.investor h3 {
    margin-top: 15px;
    font-size: 20px;
}

.investor p {
    font-style: italic;
    margin-top: 10px;
}










.news-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    
}

.news-section h2{
    color:rgba(116, 0, 0, 1);
    
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.news-item {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.news-item h3 {
    font-size: 20px;
    color: #333;
}

.news-item p {
    font-size: 16px;
    color: #555;
}

.read-more {
    font-size: 14px;
    color:rgba(116, 0, 0, 1);
    text-decoration: none;
    font-weight: bold;
}

.news-item:hover {
    transform: translateY(-5px);
}









/* General styles for the partners section */
.partners-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}

.partners-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: rgba(116, 0, 0, 1);
}

.partners-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Track for the first row */
.partners-track {
    display: flex;
    width: 200%;
}

/* Track that slides to the left */
.left-slide {
    animation: slide-left 20s linear infinite;
}

/* Track that slides to the right */
.right-slide {
    animation: slide-right 20s linear infinite;
}

/* Style for each slide container */
.partners-slide {
    display: flex;
    width: 50%; /* Each slide takes up half the track */
}

.partners-slide img {
    width: 25px;
    height: 20px;
    margin: 0 15px;
    opacity: 0.9;
}

/* Keyframes for sliding left */
@keyframes slide-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10%); }
}

/* Keyframes for sliding right */
@keyframes slide-right {
    0% { transform: translateX(-10%); }
    100% { transform: translateX(0); }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .partners-slide img {
        width: 120px;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .partners-slide img {
        width: 100px;
        margin: 0 5px;
    }
}










.market-section {
    padding: 20px;
    text-align: center;
    background-color: white;
}
.tradingview-widget-container {
    position: relative;
    /* Adjust height as needed */
    width: 100%;
}

.tradingview-widget-copyright {
    margin-top: 10px;
    font-size: 14px;
}










#map {
    height: 500px; /* Adjust the height as needed */
    width: 100%;}






.site-footer {
    background-color: #2b2d31;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    font-size: 10px;
}

.social-links {
    list-style-type: none;
    display: flex;
}

.social-links li {
    margin-left: 15px;
}

.social-links li a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.social-links li img {
    width: 24px;
    height: auto;
    border-radius: 20rem;
}

.layer1{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .layer1 h3{
    color:rgba(116, 0, 0, 1);
    font-size: 8px;
  }
  
  .layer1 .one ul a li{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 8px;
  }
  
  .layer1 .two ul a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 8px;
  }
  
  .layer1 .three ul a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 8px;
    
  }
  
  .layer1 .four a li{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 8px;
  }
  
  .layer1 .five ul li{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 8px;
  }
  
  .layer2{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
   
  }
  
  .layer2 .images{
    display: flex;
    
  }
  
  .layer2 .images .images1{
    display: flex;
    flex-direction: column;
  }
  
  .layer2 .images .images1 img{
    width: 3rem;
    border-color: white;
    border-width: 1px;
    margin-bottom: 7px;
    margin-right: 10px;
    
  }  

/* Media Queries for Footer Section */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .social-links {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .social-links li img {
        width: 20px;
    }
}


.content {
    text-align: center;
    padding: 20px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.testimonial-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.tab.active {
    background-color:rgba(116, 0, 0, 1);
    color: #ffffff;
}

.testimonial {
    background-color: #ffffff;
    border: 2px solid rgba(116, 0, 0, 1);
    border-radius: 10px;
    padding: 20px;
    display: none;
    text-align: left;
}

.testimonial.active {
    display: block;
}

.testimonial img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.testimonial .name {
    font-size: 18px;
    font-weight: bold;
}

.testimonial .title {
    color: #aaaaaa;
    font-size: 14px;
}

.testimonial .text {
    clear: both;
    margin-top: 10px;
    font-size: 16px;
}

.testimonial .stars {
    color:rgba(116, 0, 0, 1);
    margin-top: 10px;
}


.content{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    padding: 2.5rem 1rem;
    font-size: 8px;
    line-height: 0.9rem;
}


.content h4{
    color: #3e059b;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px black;
    margin-top: 5px;
}

.content em{
    color: rgba(116, 0, 0, 1);
    font-weight: bold;
}
.content ul{
    margin: 5px;
}

.content ul li{
    list-style: georgian;
}



.faq{
    background: url('https://img.freepik.com/premium-photo/man-suit-question-mark-is-front-him_1115474-135069.jpg?uid=R55814283&ga=GA1.2.1328920485.1725346503&semt=ais_hybrid') no-repeat center center/cover;
    height: 60vh;
    margin-bottom: 1rem;
}

.faq-content{
    padding: 2rem;
    margin-top: 2rem;
    background-color: #ffffff;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 2px 2px 10px black;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    cursor: pointer;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.062); /* Main color for questions */
    color: rgba(116, 0, 0, 1); /* White text for contrast */
    border: 2px solid rgba(116, 0, 0, 1);
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: rgba(255, 255, 255, 0.178);
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #ffffff;
    border-left: 3px solid rgba(29, 161, 242, 1);
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #333; /* Darker color for the text */
}

.opinion{
    background: linear-gradient(135deg, #ffffff,  #ffffff);
    padding: 1rem 0rem;
}

.opinion-content {
    text-align: center;
}

.opinion-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opinion-form textarea, .opinion-form input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid rgba(116, 0, 0, 1);
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    font-size: 16px; /* Larger text for better readability */
}

.opinion-form textarea:focus, .opinion-form input:focus {
    border-color:rgba(116, 0, 0, 1);
}

.opinion-form button {
    padding: 10px 20px;
    background-color: rgba(116, 0, 0, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.opinion-form button:hover {
    background-color: rgba(116, 0, 0, 0.849);
}

/* Animations */
.slide-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}



#about-us {
    text-align: center;
    padding: 50px;
    background: #ffffff;
  }

  #about-us h2{
    color: rgba(116, 0, 0, 1);
  }
  
  #about-us .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  .tablink {
    background-color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    color: rgba(116, 0, 0, 1);
    border: none;
    padding: 14px 20px;
    margin: 0 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tablink:hover {
    background-color: #bbb;
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
    animation: fadeEffect 0.9s; /* Fade in effect */
  }

  .tabcontent p{
    font-size: 13px;
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  .tabcontent h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: rgba(116, 0, 0, 1);
  }
  
  .tabcontent p {
    font-size: 16px;
    color: #333;
  }
  